* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: Helvetica, sans-serif;
}

.nav {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.nav .nav-items {
    list-style: none;
    display: flex;
}

.nav .nav-item {
    margin-right: 10px;
}

.nav .nav-item a {
    padding: 10px;
}

.nav .nav-brand {
    position: absolute;
    left: calc(50%);
    transform: translateX(-50%);
}

.nav a {
    color: #000;
    text-decoration: none;
}

.container {
    width: 75%;
    margin: auto;
}

.social-icons {
    text-align: center;
}

.footer {
    margin-top: 60px;
}

.social-icons i {
    color: #000;
    margin-right: 5px;
    font-size: 1.3rem;
    opacity: 0.7;
}